{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spin Wheel</title>
    <link rel="stylesheet" href="{% static 'spin/css/spin_wheel.css' %}">
</head>
<body>
    <div class="container">
        <div class="spinBtn" onclick="spinWheel('{{ spin_code }}')">Spin</div>
        <div class="wheel">
            <div class="number" style="--i:1;--clr:#db7093;"><span>100</span></div>
            <div class="number" style="--i:2;--clr:#20b2aa;"><span>1</span></div>
            <div class="number" style="--i:3;--clr:#d63e92;"><span>50</span></div>
            <div class="number" style="--i:4;--clr:#daa520;"><span>0</span></div>
            <div class="number" style="--i:5;--clr:#ff340f;"><span>1000</span></div>
            <div class="number" style="--i:6;--clr:#ff7f50;"><span>10</span></div>
            <div class="number" style="--i:7;--clr:#3cb371;"><span>5</span></div>
            <div class="number" style="--i:8;--clr:#4169e1;"><span>20</span></div>
        </div>
    </div>
    <script>
        let wheel = document.querySelector('.wheel');
        let spinBtn = document.querySelector('.spinBtn');
        let value = Math.ceil(Math.random() * 3600);
        let spinCode = '{{ spin_code }}'; // Lấy spin_code từ template
        let gameStateKey = 'gameState_' + spinCode;
        let gameState = sessionStorage.getItem(gameStateKey) === 'true';

        function spinWheel(spinCode) {
            if (!gameState) { // Nếu trò chơi chưa kết thúc
                let value = Math.ceil(Math.random() * 3600);
                wheel.style.transform = "rotate(" + value + "deg)";
                value += Math.ceil(Math.random() * 3600);
                gameState = true; // Đặt trạng thái trò chơi thành đã bắt đầu
                sessionStorage.setItem(gameStateKey, 'true'); // Lưu trạng thái vào sessionStorage
                spinBtn.style.pointerEvents = 'none'; // Ngăn chặn người dùng quay lại sau khi đã quay
            }
        }
    </script>
</body>
</html>
